.answer {
  white-space: nowrap;
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0 0 35px;
  display: block;
}
.answer:last-of-type {
  border-bottom: 0;
}
.answer:before {
  content: "";
  position: relative;
  top: 11px;
  left: 11.05%;
  display: block;
  background-color: #efefef;
  height: 4px;
  width: 78%;
}
.answer li {
  display: inline-block;
  width: 15%;
  text-align: center;
  vertical-align: top;
}
.answer li input[type="radio"] {
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -6px;
}
input[type="radio"] {
  transform: scale(1.5);
  margin-bottom: 10px;
}
.survey {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 945px;
  min-height: 474px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.2);
}
li label {
  font-size: 0.7em;
}

