.error ul li input::before {
  background-color: #d1d3d1;
  color: red;
}
.error ul:before {
  background-color: rgba(218, 90, 90, 0.5);
}
.error p {
  color: rgb(211, 58, 58);
}
.question {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
