h1 {
  color: #0c4a80;
  text-shadow: 0 4px 20px rgba(61, 158, 255, 0.363);
}

body {
  background: #cad3db;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Mulish, sans-serif;
  padding: 20px;
  flex-direction: column;
}
.left {
  float: left;
}
